@* @model List<ResourceManagementApp.Models.Review>
@{
    ViewData["Title"] = "Reviews List";
}

<h2>Reviews</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Intern</th>
            <th>Mentor</th>
            <th>Soft Skills</th>
            <th>Technical Skills</th>
            <th>Timeliness</th>
            <th>Final Score</th>
            <th>Feedback Notes</th>
            <th>Final?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr>
                <td>@review.Intern.Name</td>
                <td>@review.Mentor.Username</td>
                <td>@review.SoftSkillScore</td>
                <td>@review.TechnicalSkillScore</td>
                <td>@review.TimelinessScore</td>
                <td>@review.FinalScore</td>
                <td>@review.MentorFeedbackNotes</td>
                <td>@(review.IsFinalReview ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Add" class="btn btn-primary">Add New Review</a> *@
